:root{
    --color-brand-light:        #2B7FFF;
    --color-secondary-white:    #FFFF;
    --color-body-text:          #011C44;
    --color-secondary-black:    #0000;
}

$bp-desktop: 1280px;
$bp-tablet: 768px;
$bp-mobile: 480px;