.link{
    color: var(--color-body-text);
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover{
        color: var(--color-brand-light);
        font-weight: 500;
    }
}