.social{
    &__content{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 45px;
        &-icon{
            fill: var(--color-body-text);
            transition: all 0.3s ease;
            &:hover{
                fill: var(--color-brand-light);
            }
        }
    }
}

@media screen and (min-width: $bp-tablet) {
    .social {
        &__content {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 45px;
    
            &-icon {
                fill: var(--color-body-text);
                transition: all 0.3s ease;
                &:hover {
                    fill: var(--color-brand-light);
                }
            }
        }
    }
}